.ck.ck-content h3.category {
	font-family: 'Bebas Neue';
	font-size: 20px;
	font-weight: bold;
	color: #be2126;
	letter-spacing: 10px;
	margin: 0;
	padding: 0;
	}

.ck.ck-content p.info-box {
	padding: 1.2em 2em;
	border: 1px solid #be2126;
	border-left: 10px solid #be2126;
	border-radius: 5px;
	margin: 1.5em;
	}


.ck.ck-content a.know-more {
	border : 1px solid #be2126;
	color : #be2126;
	border-radius : 1em;
	padding : 1em 2em;
	text-align:center;
	margin : 1em auto;
	}
	
.ck.ck-content a.know-more-2 {
	/*border : 1px solid #be2126;*/
	color : white;
	background-color:#3b48a8;
	/*border-radius : 1em;*/
	padding : 1em 2em;
	text-align: center;
	margin : 1em auto;
	}
.ck.ck-content a.know-more-3 {
	/*border : 1px solid #be2126;*/
	color : white;
	background-color:#ffa724;
	/*border-radius : 1em;*/
	padding : 1em 2em;
	text-align: center;
	margin : 1em auto;
	}

.ck.ck-content p.paragraph {
	font-size : 1em;
	padding:0 1em;
	}
	

.ck.ck-content p.paragraph-title {
	font-weight : bold;
	}

.ck.ck-content p.image-credits {
	text-align : right;
	color : #b7b7b7;
	font-style:italic;
	font-size:0.6em;
	}


.ck.ck-content p.block-blue {
	text-align : left;
	color : white;
	background-color:#0076a2;
	font-style:italic;
	font-size:0.6em;
	width:auto;
	padding:1em 1em;
	margin:0 0;
	display:block;
	}
.ck.ck-content p.block-orange {
	text-align : left;
	color : white;
	font-style:italic;
	background-color:#ffa724;
	font-size:0.6em;
	width:auto;
	padding:1em 1em;
	margin:0 0;
	display:block;
	}
.ck.ck-content p.block-darkblue {
	text-align : left;
	color : white;
	font-style:italic;
	background-color:#002e59;
	font-size:0.6em;
	width:auto;
	padding:1em 1em;
	margin:0 0;
	display:block;
	}


/* DEFAULT STYLES */
.ck.ck-content figure {
	/*margin:0;*/
	}
.ck.ck-content img {
	/*width:100%;*/
	}	
/* / DEFAULT STYLES */
