

.todolistcategories a{color:grey; font-weight:bold;text-decoration:none;padding : 0em 1em;font-size:1.2em;}
.todolistcategories a:hover {text-decoration:underline;}
.todolistcategories {text-align:center;}

@media (max-width:767px) {
	.todolistcategories{
		font-size:0.8em;;
	}
}

/*temp*/
#todolistmain .todo a.saveChanges {
color : black;
}


/* The todo items are grouped into an UL unordered list */

#todolistmain ul.todoList{
	margin:0 auto;
	width:100%;
	position:relative;
	padding : 0;
}

#todolistmain ul.todoList li{
	z-index : 0;
	background-color:#F9F9F9;
	border:1px solid #EEEEEE;
	list-style:none;
	margin:6px;
	padding:6px 4em 9px 9px;
	position:relative;
	cursor:n-resize;

	/* CSS3 text shadow and rounded corners: */
	
	text-shadow:1px 1px 0 white;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

#todolistmain ul.todoList li:hover{
	border-color:#9be0f9;
	
	/* CSS3 glow effect: */
	-moz-box-shadow:0 0 5px #A6E5FD;
	-webkit-box-shadow:0 0 5px #A6E5FD;
	box-shadow:0 0 5px #A6E5FD;
}

#todolistmain .todo .text{
	color:#777777;
	font-size:1.4em;
}

/* The edit and delete buttons */
	
#todolistmain .todo .actions{
	position:absolute;
	right:7px;
	top:6px;
}

#todolistmain .todo .actions a{
	display:block;
	width:16px;
	height:16px;
	overflow:hidden;
	float:left;
	text-indent:-9999px;
	margin:3px;
}

#todolistmain .todo .actions a.edit{
	background:url("../images/edit.png") no-repeat center center;
}

#todolistmain .todo .actions a.delete{
	background:url("../images/delete.png") no-repeat center center;
}

#todolistmain .todo .actions a.love{
	background:url("../images/heart_black.png") no-repeat center center;
}

#todolistmain .todo .actions a.unlove{
	background:url("../images/heart_red.png") no-repeat center center;
}

/* The edit textbox */

#todolistmain .todo input.textinput{
	border:1px solid #CCCCCC;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	font-size:0.725em;
	padding:3px 4px;
	width:80%;
}

/* The category text box */
#todolistmain .todo input.category{
	border:1px solid #CCCCCC;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	font-size:0.725em;
	padding:3px 4px;
	width:50%;
	clear:both;
}


/* The Save and Cancel edit links: */

#todolistmain .editTodo{
	display:inline;
	font-size:0.6em;
	padding-left:9px;
	clear:both;
}

#todolistmain .editTodo a{
	font-weight:bold;
}

#todolistmain a.discardChanges{
	color:#C00 !important;
}

#todolistmain a.saveChanges{
	color:#4DB209 !important;
}

/* Overwriting some of the default jQuery UI styles */

#todolistmain .ui-button,#todolistmain .ui-dialog-titlebar{
	font-size:0.72em !important;
}

#todolist-dialog-confirm{
	display:none;
	font-size:0.9em;
	padding:1em 1em 0;
}

#addButton{
	margin:20px auto;
}


/* Green button class: */

#todolistmain a.green-button,
#todolistmain a.green-button:visited {
	color:black;
	display:block;
	font-size:10px;
	font-weight:bold;
	height:25px;
	padding: 0.5em 1em;
	text-align:center;
	width:70px;
	margin:0 auto;
	text-shadow:1px 1px 1px #DDDDDD;
	background:url("../images/button_green.png") no-repeat left top;
}

#todolistmain a.green-button:hover{
	text-decoration:none;
	background-position:left bottom;
}


/* The styles below are only necessary for the styling of the demo page: */
#todolistmain{
	position:relative;
	margin:0 auto;
	width:50%;
}
@media (max-width:767px) {
	#todolistmain{
		width:100%;
	}
}
/*
#messagebox{
top:40%;margin:auto;width:20%;border:1px dashed #d7d7d7;
	color : white;
	font-weight:bold;
	border-radius:10px;
	padding:5px;
	clear:both;
	position:absolute;
	top:50%;
	left:40%;
	display:none;
	background-color:#0196e3;
	text-align:center;
	z-index : 100;
}
#messagebox a,#messagebox a:visited{ color : white; text-decoration :none;}
#messagebox a:hover{ color : white; text-decoration:underline;}
*/
#todolistmain h3 {text-align:center;padding-top: 1em;}

#todolistmain h1{
	padding:10px 0;
	text-align:center;
	text-shadow:0 1px 1px white;
	margin-bottom:10px;
	background-color:#f8f8f8;
	font-size:25px;
}

#todolistmain h1,#todolistmain h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}

#todolistmain h2{
	font-size:14px;
	font-weight:normal;
	text-align:center;
	
	position:absolute;
	right:40px;
	top:40px;
}

.todolistnote{
	font-size:12px;
	font-style:italic;
	padding-bottom:20px;
	text-align:center;
	margin:0 auto;
	color:grey;
}






#todolistmain a, #todolistmain a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

#todolistmain a:hover{
	text-decoration:underline;
}

#todolistmain a img{
	border:none;
}


